<!DOCTYPE html>   <!--Úvodni stránka, kde napíšu svůj popis, přidám fotku. Dole odkaz na kontakt a reference. -->
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <div id="centrovac" class="domu-article">
        <header>
            <h1>O mně</h1>
        </header>
        <section>
            <p> <h3>Jmenuji se Jakub,</h3> </br>
                zvědavý, učenlivý kluk, kterého vstup do světa IT naučil, že ne všechno může mít hned. Svět programování  </br>
                jsem okusil už na střední škole, kde jsem zjistil, že nemusím být génius. Následně i v zaměstnání.  </br>
                Vždy jsem se zajímal jak věci funguji uvnitř, nikoliv zvenčí. Avšak po letech jsem dostal pěknou facku  </br>
                od života v podobě diabetesu 1. typu, která mě nasměrovala jasnějším směrem ––> JAVA. </br>
                Přemýšlel jsem jak v budoucnu prokazatelně předložit minimální znalosti v tomto jazyce.</br>
                Po krátkém pátrání jsem se rozhodl využít kurz Java v akademii ENGETO. Nicméně mě to nestačilo a řekl  </br>
                jsem si, že se pustím do kurzu od ITNETWORK, kde jsem si znalosti velice prohloubil. Kurz je certifikovaný MŠMT. </br>
                Aktuálně pokračuji ve vzdělávání. Projekty ukládám na GitHub, kde mě najdete pod jménem @JakubT96. </br>
                Tento web a blog jsem si vytvořil jako základní portfolium.</br>
                Momentálně aktivně hledám pracovní pozici (juniorní - jako Junior Java Backend nebo tester), která mi nabídne možnost  </br>
                růstu a podílení se na projektech, které mají smysl a výsledek. A s lidmi, kteří jsou stejně zapálení jako já. </br>
                Za sebe mohu  nabídnout někoho kdo bere práci vážně a zodpovědně.</br>
            <h4>--Doplňující informace-- </h4>
                Mezi mé zájmy a koníčky patří výlety do přírody, především kopce a hory. Snowboarding, inline brusle, požární sport.

            <h5> Rekvalifikační kurz Programátor WWW aplikací Java</h5>
                (162h studia) 15.4.2023 - 28.7.2023</br>
                ITnetwork s.r.o. - IT AKADEMIE</br>
                 - Základní konstrukce jazyka Java</br>
                 - Objektově-orientované programování v Javě</br>
                 - Kolekce a proudy v Javě</br>
                 - Moderní webdesign</br>
                 - MySQL</br>
                 - Základní konstrukce jazyka JavaScript</br>
                 - Java framework (Spring Boot)</br>
                 - Bootstrap</br>
                 - Testování (JUnit, Selenium Webdriver)</br>
                 - Verzovací systém Git</br>

                Projekt Evidence pojistných událostí</br>
                Vývoj back-indové části aplikace pro evidenci pojistných událostí v technologiích:</br>
                 - JAVA</br>
                 - OPP</br>
                </br>
               <h5> ENGETO akademie Java (198h studia)</h5>
                13.10.2022 - 19.1.2023</br>
                 - Úvod do Java Akademie & Proměnné a datové typy</br>
                 - Práce s daty v Javě a datové typy</br>
                 - Podmínky a cykly</br>
                 - Verzovací systém Git</br>
                 - Soubory, výjimky</br>
                 - Kolekce, pole</br>
                 - Souhrnný příklad, OOP & zadání prvního projektu</br>
                 Projekt 1</br>
                - Výběr států podle sazby daně z přidané hodnoty (analýza finančních dat, technicky zvané JSON VAT)</br>
                </br>
                Prohloubení znalostí a zadání druhého projektu</br>
                 - Maven, JUnit</br>
                 - Git v týmu: větve, Pull-request a GitHub Actions</br>
                 - Úvod do databází</br>
                 - Práce s databází & úkol: zpracování meteorologických dat (meteostanice)</br>
                 - API, zadání druhého projektu</br>
                 Projekt 2</br>
                 - API s databází. Část e-shopu zpracovaná v Javě, ukládání do MySQL. Odzkoušení pomocí Postmana</br>
            </p></br>
            <p>Stále pokračuji v učení jazyka Java. Moje představa je se věnovat back-endové části.</br>
            Aktuálně mám se věnuji tématu práce se sítí a práce se soubory v jazyce Java. </p>
            <p>Kontaktovat mě můžete na
                <a th:href="@{/contact}">kontaktní stránce</a>.
            </p>
            <p class="tlacitko-odstavec">
                <a th:href="@{/references}" class="reference-tlacitko">Moje reference</a>
            </p>
        </section>

        <img th:src="@{/images/avatar.jpg}" alt="To jsem já."/>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>